@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-Light-webfont.eot');
    src: url('../fonts/eot/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/eot/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-LightItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-Regular-webfont.eot');
    src: url('../fonts/eot/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-Italic-webfont.eot');
    src: url('../fonts/eot/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/eot/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/eot/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-Bold-webfont.eot');
    src: url('../fonts/eot/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/eot/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/eot/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/eot/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/eot/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/ttf/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}